# Build artifacts
*.obj
*.exe
*.pdb
*.lib
*.dll
*.exp
*.ilk
*.idb
*.iobj
*.ipdb
*.tlog
*.log

# Intermediate and output folders
Debug/
Release/
x64/
x86/
ARM/
ARM64/
[Bb]in/
[Oo]bj/
ipch/
*.cache

# VS-generated metadata
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.sdf
*.sln.docstates

# Autosave & backup
*.bak
*.tmp
*.swp

# OS junk
.DS_Store
Thumbs.db
